<form id="newRecordForm" action="/records" method="post">
  <label for="album">Album:</label>
  <input type="text" name="album">

  <label for="artist">Artist</label>
  <input type="text" name="artist">

  <input type="submit" value="Add New Record!";
>

  </form>

<br>
<a href="/records">Go back to index</a>
