<form action="/records" method="post">
  <label for="album">Album:</label>
  <input type="text" name="Album name">

  <label for="artist">Artist</label>
  <input type="text" name="Artist">

  <input type="submit" value="Add New Record!">
</form>

<br>
<a href="/records">Go back to index</a>
