<form id="editForm" action="/records/<%= id %>" method="post">
  <label for="album">Album:</label>
  <input type="text" name="album" value="<%= record.album %>">

  <label for="artist">Artist</label>
  <input type="text" name="artist" value="<%= record.artist %>">

  <input type="submit" value="Edit Record!">
</form>
